<!-- Navbar -->
<nav class="navbar navbar-expand-lg clean-nav">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/home">
      <i class="fa-solid fa-car-side brand-icon"></i>
      <span class="brand-text">CarRent</span>
    </a>

    <!-- Mobile toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mx-auto gap-lg-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/search"> Search Cars </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/host"> Host Your Car </a>
        </li>
      </ul>

      <!-- Action -->
      <button class="btn btn-outline-light btn-pill" (click)="openAuthModal()">
        <i class="fa-regular fa-user me-2"></i>
        Login / Register
      </button>
    </div>
  </div>
</nav>

<router-outlet />

<!-- LOGIN MODAL -->

<div
  class="auth-backdrop"
  div
  #authModal
  class="modal fade"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content auth-modal">
      @if (authMode() === "login") {
        <!-- Header -->
        <div class="auth-header">
          <h4 class="auth-title">Login</h4>

          <!-- NO TS needed to close -->
          <button
            type="button"
            class="auth-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <hr class="auth-divider" />

        <!-- Body -->
        <div class="auth-body">
          <!-- Email -->
          <div class="mb-3">
            <label class="form-label">Email</label>
            <div class="input-group">
              <span class="input-group-text auth-ig-text">
                <i class="fa-regular fa-envelope"></i>
              </span>
              <input
                type="email"
                class="form-control auth-input"
                placeholder="Enter email"
              />
            </div>
          </div>

          <!-- Password -->
          <div class="mb-3">
            <label class="form-label">Password</label>
            <div class="input-group">
              <span class="input-group-text auth-ig-text">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input
                type="password"
                class="form-control auth-input"
                placeholder="Enter password"
              />
              <button type="button" class="btn auth-eye">
                <i class="fa-regular fa-eye"></i>
              </button>
            </div>
          </div>

          <!-- Login Button -->
          <button type="button" class="btn auth-btn w-100">
            <i class="fa-solid fa-right-to-bracket me-2"></i>
            Login
          </button>

          <!-- Footer -->
          <div class="auth-footer text-center mt-3">
            <span class="text-muted">Don't have an account?</span>
            <a class="auth-link ms-1" role="button" (click)="openRegister()">
              Register here
            </a>
          </div>
        </div>
      } @else {
        <!-- REGISTER MODAL -->
        <!-- Header -->
        <div class="auth-header">
          <h4 class="auth-title">Register</h4>
          <button
            type="button"
            class="auth-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <hr class="auth-divider" />

        <!-- Body -->
        <div class="auth-body">
          <!-- Name -->
          <div class="mb-3">
            <label class="form-label">Name</label>
            <div class="input-group">
              <span class="input-group-text auth-ig-text">
                <i class="fa-regular fa-user"></i>
              </span>
              <input
                type="text"
                class="form-control auth-input"
                placeholder="Enter full name"
                name="name"
                [(ngModel)]="user.name"
              />
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label class="form-label">Email</label>
            <div class="input-group">
              <span class="input-group-text auth-ig-text">
                <i class="fa-regular fa-envelope"></i>
              </span>
              <input
                type="email"
                class="form-control auth-input"
                placeholder="Enter email"
                name="emailId"
                [(ngModel)]="user.emailId"
              />
            </div>
          </div>
          <!-- Mobile -->
          <div class="mb-3">
            <label class="form-label">Mobile Number</label>

            <div class="input-group">
              <span class="input-group-text auth-ig-text">
                <i class="fa-solid fa-mobile-screen"></i>
              </span>

              <input
                type="tel"
                class="form-control auth-input"
                placeholder="Enter mobile number"
                name="mobileNo"
                [(ngModel)]="user.mobileNo"
                required
              />
            </div>
          </div>

          <!-- Password -->
          <div class="mb-4">
            <label class="form-label">Password</label>
            <div class="input-group">
              <span class="input-group-text auth-ig-text">
                <i class="fa-solid fa-mobile-screen"></i>
              </span>
              <input
                type="password"
                class="form-control auth-input"
                placeholder="Create password"
                name="password"
                [(ngModel)]="user.password"
              />
              <button type="button" class="btn auth-eye">
                <i class="fa-regular fa-eye"></i>
              </button>
            </div>
          </div>

          <!-- Register Button -->
          <button
            type="button"
            class="btn auth-btn w-100"
            (click)="onRegister()"
          >
            <i class="fa-solid fa-user-plus me-2"></i>
            Register
          </button>

          <!-- Footer -->
          <div class="auth-footer text-center mt-3">
            <span class="text-muted">Already have an account?</span>
            <a class="auth-link ms-1" role="button" (click)="openLogin()">
              Login here
            </a>
          </div>
        </div>
      }
    </div>
  </div>
</div>
